@import url("https://fonts.googleapis.com/css?family=Pacifico");

h4, h5 {
font-family: 'Pacifico', cursive;
}

h4 {
    color : #40a8a7;
    /* Turquesa oscuro: color : #0D8080;*/
}

h5 {
    /*color : #40a8a7;*/
    color : #FF9900;
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
    height: 100%;
}

.card-info, .card__meta a {
    color: #3299BB !important;
    display: inline-flex;
    vertical-align: middle;
    line-height: 2;
    font-size: 1rem;
}
.card__meta i.small {
    font-size: 1.5rem;
}
.card .card-content .card-title {
    line-height: 34px;
}
.card__date {
    background: #08c;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
    padding-top: 7px;
}
.card__date__day {
    display: block;
    font-size: 14px;
}
.card__date__month {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
}

.card .card-content .card-title {
    color: #0D8080 !important;
    line-height: 18px;
}

.card .card-title {

    font-size: 18px;
    font-weight: 400;
}

.card .card-content p{
    color: #1E1E1E;
    font-size: 13px;
}

.collapsible{
    background: #fff;
}

.card-row {
    margin-bottom: 4px;
    margin-top: 4px;
}
.card-action i {
    vertical-align: text-bottom;
    font-size: 21px;
}



.collapsible-header {
    background-color: #3299BB;
    color: #fff;
}

.filter-container ul {
    padding: 1rem 2rem;
}

.filter-container ul li {
    display: block;
    padding: 16px 0 0;
}

.search-title-filter {
    background-color: #3299BB;
    color: #fff;
}

nav  {
    background-color: #40a8a7;
    border-color: #E7E7E7;

}

nav ul>li>a, nav .brand-logo  {
    color: #fff;
}

nav .brand-logo {
    font-size: 1.4em !important;
}

#container {
    padding: 20px 10px;
}


.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    margin-right: 18px!important;
}


/* card profile */

.customSlider {
    opacity: 0;
    display: none;
}
.customSlider + label {
    position: relative;
    top: 35px;
    left: 15px;
    cursor: pointer;
}
.customSlider + label:before, .customSlider + label:after {
    background: #FFFFFF;
    position: absolute;
    content: '';
}
.customSlider + label:before {
    top: -90px;
    left: -60px;
    width: 80px;
    height: 40px;
    background: #ccc;
    border-radius: 20px;
    transition: background .75s;
}
.customSlider + label:after {
    height: 34px;
    width: 34px;
    top: -87px;
    left: -55px;
    border-radius: 50%;
    transition: all .5s;
}
.customSlider:checked + label:after {
    height: 34px;
    width: 34px;
    top: -87px;
    left: -19px;
    border-radius: 50%;
}
.customSlider:checked ~ .wrapper {
    color: #fff;
    transition: background .6s ease;
    background: #31394D;
}
.customSlider:checked ~ .wrapper .top-icons i {
    color: #fff;
}
.customSlider:checked ~ .wrapper .profile .name {
    color: #FDFEFF;
}
.customSlider:checked ~ .wrapper .profile .title {
    color: #7C8097;
}
.customSlider:checked ~ .wrapper .profile .description {
    color: #FDFEFF;
}
.customSlider:checked ~ .wrapper .icon h4 {
    color: #FFFFFF;
}
.customSlider:checked ~ .wrapper .icon p {
    color: #666B7D;
}

.wrapper {
    width: 320px;
    height: 540px;
    background: #FDFEFF;
    transition: background .6s ease;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}
.card .top-icons i {
    color: #080911;
}
.card .top-icons i:nth-of-type(1) {
    float: left;
}
.card .top-icons i:nth-of-type(2) {
    float: right;
}
.card .top-icons i:nth-of-type(3) {
    float: right;
    padding-right: .8em;
}
.card .profile {
    margin-top: 2.2em;
    position: relative;
}
.card .profile:after {
    width: 100%;
    height: 1px;
    content: ' ';
    display: block;
    margin-top: 1.3em;
    background: #E9EFF6;
}
.card .profile .check {
    position: absolute;
    right: 5em;
    bottom: 12.7em;
}
.card .profile .check i {
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
    background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
}
.card .profile .thumbnail {
    width: 124px;
    height: 124px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-radius: 100%;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}
.card .profile .name {
    color: #2D354A;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.card .profile .title {
    color: #7C8097;
    font-size: .75em;
    font-weight: 300;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .7em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.card .profile .description {
    color: #080911;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.3em;
}
.card .profile .btn {
    color: #fff;
    width: 130px;
    height: 42px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
    background: linear-gradient(to bottom right, blue, lightblue);
}
.card .social-icons {
    display: flex;
    margin-top: 1.2em;
    justify-content: space-between;
}
.card .social-icons .icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card .social-icons .icon a {
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}
.card .social-icons .icon:nth-of-type(1) a {
    background: linear-gradient(to bottom right, blue, lightblue);
}
.card .social-icons .icon:nth-of-type(2) a {
    background: linear-gradient(to bottom right, #5E5AEC, #3F9EFC);
}
.card .social-icons .icon:nth-of-type(3) a {
    background: linear-gradient(to bottom right, #6452E9, #639FF9);
}
.card .social-icons .icon h4 {
    color: #080911;
    font-size: 1em;
    margin-top: 1.3em;
    margin-bottom: .2em;
}
.card .social-icons .icon p {
    color: #666B7D;
    font-size: 12px;
}

.concept {
    position: absolute;
    bottom: 25px;
    color: #AAB0C4;
    font-size: .9em;
    font-weight: 400;
}
.concept a {
    color: #ac1966;
    text-decoration: none;
}

.min-p p{
    margin: 0 0 0 8px;
}

.button-profile button{margin-bottom: 5px;}