{% extends 'dashbord.html.twig' %}

{% block body %}
    {% if userRoles == "ROLE_SUPER_ADMIN" or userRoles == "ROLE_COACH" %}

        <!-- card programme -->
<div class="container">
        <div id="card-container" class="row">
            <!-- Col: Card 2 -->
            <h3 style="text-align: center;">Nos trois derniers programmes</h3>
            {% for prg in lastProgrammes %}

                <div class="col s12 m6 l4">
                    <!-- Card 2 -->
                    <div class="card">
                        <div class="card-content white-text">
                            <span class="card-title grey-text text-darken-4">Programme : {{ prg.nom }}</span>

                            <p class="card-subtitle grey-text text-darken-2"><b>Numéro de semaine : </b>{{ prg.semaine }}</p>
                            <p class="card-subtitle grey-text text-darken-2"><b>Prix en GoldCoin du programme : </b>{{ prg.coin }} GC</p>
                            <p class="card-subtitle grey-text text-darken-2"><b>Coach associé : </b>{{ prg.user.username }} </p>
                        </div>
                    </div>
                    <!-- End of card -->
                </div>

            {% endfor %}
        </div>
</div>
        <!-- profile card -->

<div class="container">
    <div id="card-container" class="row">
        <h3 style="text-align: center;">Nos trois derniers profils</h3>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="profile">
                    <img src="https://images.unsplash.com/photo-1484186139897-d5fc6b908812?ixlib=rb-0.3.5&s=9358d797b2e1370884aa51b0ab94f706&auto=format&fit=crop&w=200&q=80%20500w" class="thumbnail">

                    <h3 class="name" style="margin: 10px 0;">Beverly Little</h3>
                    <p class="title" style="margin-bottom: 0px;">Coach Fortnite</p>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aliquam aliquid porro!</p>
                    <div style="text-align: center" class="button-profil">
                        <button type="button-left" class="btn" style="margin-bottom: 5px;">Programme</button>
                        <button type="button-right" class="btn" style="margin-bottom: 5px;">Séance</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endif %}
    <script>
        {% if userRoles == "ROLE_COACH" %}
        var iconMenu = document.getElementById('users');
        iconMenu.style = "display:none;";
        {% endif %}
        {% if userRoles == "ROLE_SUPER_ADMIN" %}
        var iconMenuDispo = document.getElementById('dispos');
        iconMenuDispo.style = "display:none;";
        var iconMenuProgs = document.getElementById('progs');
        iconMenuProgs.style = "display:none;";
        var iconMenuSeances = document.getElementById('seances');
        iconMenuSeances.style = "display:none;";
        {% endif %}
    </script>
{% endblock %}


